<div class='module-or-theme'>
  <h2><a target='_blank' href="{{ url }}">{{ name }}</a></h2>
  <div class='created'>{{ created }}</div>
{% if description %}
  <div class='description'>{{ description }}</div>
{% endif %}
</div>
